.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}
